<div class="container">
  <div class="intro">
    <h1 class="text-center">
      <span class="hey">Hello, </span>
      <span>I'm </span>
      <span class="name" routerLink="/home">Patel Mahir.</span>
    </h1>
    <h1 class="text-center">
      <span>I'm </span>
      <span>a </span>
      <span>Developer</span>
    </h1>
    <br>
    <br>
    <br>
    <div class="button">
      <button class="btn" routerLink="/portfolio">View my work</button>
      <button class="btn" routerLink="/about">About</button>
    </div>
  </div>
</div>
