<div class="container-lg">
  <div class="row align-items-center">
    <div class="col-md-4 pic">
      <img src="./assets/image/mahirrrr.png" alt="profile photo" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-8 basic-info">
      <h1>About me</h1>
      <p>As a software developer with over three years of experience, I have built innovative
        and challenging applications that push the boundaries of technology. My journey in this
        field began with a strong curiosity and a desire to solve complex problems, which has
        driven me to continuously improve and expand my skill set. Over the years, I have honed
        my expertise in various programming languages and frameworks, enabling me to deliver
        high-quality solutions that meet the evolving needs of users.</p>

      <p>Throughout my career, I have worked on diverse projects that have tested and refined
        my technical abilities. This experience has not only deepened my understanding of
        software development but also instilled in me a passion for creating robust, efficient,
        and scalable applications. My commitment to staying current with industry trends and best
        practices ensures that I am always equipped to tackle new challenges and contribute
        effectively to any development team.</p>

      <div class="text-center">
        <a class="btn" href="https://drive.google.com/file/d/1YgCqyx9AD4KPrGouKePj0AYjfT1t9p_B/view?usp=sharing" target="_blank">Resume</a>
        <a class="btn" routerLink="/contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="skills-section mt-5">
    <h2>Skills</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Frontend Technologies</h3>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-angular"></i> Angular</li>
          <li class="list-group-item"><i class="bi bi-filetype-js"></i> JavaScript</li>
          <li class="list-group-item"><i class="bi bi-filetype-ts"></i> TypeScript</li>
          <li class="list-group-item"><i class="bi bi-react"></i> React</li>
          <li class="list-group-item"><i class="bi bi-file-earmark-font"></i> Tailwind CSS</li>
          <li class="list-group-item"><i class="bi bi-bootstrap"></i> Bootstrap</li>
          <li class="list-group-item"><i class="bi bi-npm"></i> npm</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Backend Technologies</h3>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-node"></i> JavaScript (Node.js)</li>
          <li class="list-group-item"><i class="bi bi-filetype-js"></i> Express.js</li>
          <li class="list-group-item"><i class="bi bi-python"></i> Python</li>
          <li class="list-group-item"><i class="bi bi-filetype-py"></i> Django (Python)</li>
          <li class="list-group-item"><i class="bi bi-flask"></i> Flask (Python)</li>
          <li class="list-group-item"><i class="bi bi-filetype-cs"></i> C#</li>
          <li class="list-group-item"><i class="bi bi-microsoft"></i> ASP.NET (C#)</li>
          <li class="list-group-item"><i class="bi bi-server"></i> Apache</li>
          <li class="list-group-item"><i class="bi bi-java"></i> Java</li>
        </ul>
      </div>
      <div class="col-md-6 mt-3">
        <h3>Databases</h3>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-database"></i> MySQL</li>
          <li class="list-group-item"><i class="bi bi-microsoft"></i> Microsoft SQL Server</li>
          <li class="list-group-item"><i class="bi bi-database"></i> PostgreSQL</li>
          <li class="list-group-item"><i class="bi bi-database"></i> MongoDB</li>
          <li class="list-group-item"><i class="bi bi-database"></i> Cassandra</li>
        </ul>
      </div>
      <div class="col-md-6 mt-3">
        <h3>Mobile Development</h3>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-react"></i> React Native</li>
          <li class="list-group-item"><i class="bi bi-android"></i> Android Studio</li>
          <li class="list-group-item"><i class="bi bi-code-slash"></i> Visual Studio Code</li>
        </ul>
      </div>
      <div class="col-md-6 mt-3">
        <h3>Version Control</h3>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-git"></i> Git</li>
          <li class="list-group-item"><i class="bi bi-github"></i> GitHub</li>
          <li class="list-group-item"><i class="bi bi-gitlab"></i> GitLab</li>
          <li class="list-group-item"><i class="bi bi-jira"></i> JIRA</li>
          <li class="list-group-item"><i class="bi bi-azure"></i> Azure</li>
        </ul>
      </div>
      <div class="col-md-6 mt-3">
        <h3>Development Tools</h3>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-jetbrains"></i> IntelliJ IDEA</li>
          <li class="list-group-item"><i class="bi bi-file-code"></i> Eclipse</li>
          <li class="list-group-item"><i class="bi bi-file-code"></i> NetBeans</li>
          <li class="list-group-item"><i class="bi bi-filetype-py"></i> PyCharm</li>
          <li class="list-group-item"><i class="bi bi-filetype-js"></i> WebStorm</li>
          <li class="list-group-item"><i class="bi bi-microsoft"></i> Visual Studio</li>
        </ul>
      </div>
    </div>
  </div>
</div>
