.link-style {
  font-size: 1.8rem; /* Adjust the font size as needed */
  margin: 10px; /* Adjust the margin as needed */
  font-weight: bolder;
}
@media (max-width: 767px) {
  .link-style {
    font-size: 1.2rem;
    margin: 2px;
    font-weight: normal;
  }
  .nav-item a{
    color: white;
  }
}
.nav-item a{
  color: #4a5c6a;
}
.nav-item a:hover{
  color: white;
  border-bottom: 2px solid white;
}
